.debugPosition {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    opacity: 0.9;
    padding: 1em;
    border-radius: 10px;
}

.joystick {
    display: grid;
    grid-template-areas:
    'moveUp moveRight'
    'moveLeft moveDown';
    transform: rotate(45deg);
    height: 4em;
    margin: 1em;
}

.debugPosition>.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.debugPosition>.form>input {
    font-family: 'Montserrat';
    padding: 0.2em;
    width: 8em;
    border: 2px solid #36305C;
    border-radius: 5px;
    font-size: 16px;
    margin: 0.25em;
}

.debugPosition>.form>button {
    padding: 0.5em 1.5em;
    font-size: 14px;
    border: unset;
    border-radius: 5px;
    background-color: #E84820;
    font-family: 'Montserrat-SemiBold';
    color: #fff;
}

.debugPosition>.form>button:hover {
    cursor: pointer;
}

.angle {
    transform: rotate(-45deg);
    font-size: 32px;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    color: #36305C;
}

.angle:hover {
    color: #E84820;
    cursor: pointer;
}

.moveLeft {
    grid-area: moveLeft;
}

.moveUp {
    grid-area: moveUp;
}

.moveDown {
    grid-area: moveDown;
}

.moveRight {
    grid-area: moveRight;
}

.switchAllowGps {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    align-items: center;
}

@media only screen and (max-width: 680px) {
    .debugPosition {
        display: none;
    }
}