.leftMenu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 3.5em;
    background-color: #36305C;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.largeMenu {
    width: 18em;
}

.menuIcon {
    font-size: 34px;
    width: 1.5em;
    color: #fff;
    text-align: center;
    margin-top: 0.5em;
    text-align: center;
}

.menuIcon:hover,
.rowMenu:hover,
.btnConnect:hover {
    cursor: pointer;
}

.middleMenu {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.rowMenu>h5 {
    margin-top: 0.5em;
    margin-left: 1em;
    font-size: 22px;
    color: #fff;
}

.rowMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Courgette', sans-serif;
    font-size: 38px;
    color: #E84820;
    margin: 0.5em;
    -webkit-filter: drop-shadow(1px 3px 1px black);
    filter: drop-shadow(1px 3px 1px black);
    margin-right: 50px;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeMenuBtn {
    font-size: 30px;
    position: absolute;
    right: 20px;
    color: white;
}

.userInfo {
    width: 100%;
    padding-left: 2.5em;
    padding-top: 2.5em;
    color: #E1E6FA;
    font-family: 'Montserrat';
}

.name {
    color: #9790B2;
}

.avatar {
    width: 3em;
    height: 3em;
}

.btnConnect {
    margin-top: 0.5em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5em 2em;
    background-color: #E84820;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.darkMode {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: #fff;
    font-family: 'Montserrat';
}

.closeMenuBtnMobile {
    display: none;
}

@media only screen and (max-width: 680px) {
    .leftMenu {
        right: 0;
        bottom: unset;
        border-radius: 0 0 20px 20px;
        flex-direction: row;
        justify-content: center;
    }

    .middleMenu {
        flex-direction: row;
        position: relative;
        transform: unset;
        top: unset;
    }

    .userInfo {
        width: unset;
        text-align: center;
        padding: unset;
    }

    .largeMenu {
        padding-top: 1em;
        flex-direction: column;
        width: auto;
        min-height: 10em;
        justify-content: space-around;
    }

    .rowMenu>h5,
    .title {
        display: none;
    }

    .closeMenuBtn {
        display: none;
    }

    .setting-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .closeMenuBtnMobile {
        display: flex;
        color: white;
        font-size: 50px;
        position: absolute;
        right: 30px;
        bottom: 0px;
    }

    .menuIcon {
        margin: 0.5em;
    }

    .darkMode {
        position: unset;
    }
}