.settings {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 28em;
    background-color: #36305C;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    color: #9790B2;
    font-size: 22px;
}

.backToHome:hover {
    cursor: pointer;
}

.infosUser {
    width: 90%;
    margin: 1em;
}

.infosUser>div {
    margin: 1.5em 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.subtitle {
    font-family: 'Montserrat-semiBold';
    font-size: 24px;
    color: #E1A869;
}

.field {
    font-family: 'Montserrat-semiBold';
    font-size: 18px;
    color: #fff;
    padding-left: 0.5em;
}

.editField {
    font-size: 22px;
    color: #fff;
    margin: 0 0.5em 0.5em 0.5em;
}

.editField:hover {
    cursor: pointer;
}

.inputField {
    border: 2px solid #E84820;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat';
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .settings {
        left: 0;
        right: 0;
        bottom: unset;
        width: unset;
        border-radius: 0 0 20px 20px;
    }
}