.store {
    font-family: 'Montserrat';
    font-weight: 600;
    color: #fff;
}

.head {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E84820;
    margin: 1em;
    align-items: center;
}

.head>h5 {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 22px;
}

.backBtn {
    color: #9790B2;
    font-size: 22px;
    position: absolute;
    right: 1em;
}

.storeInfos {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.storeImg {
    max-width: 5em;
    margin-right: 1em;
    position: absolute;
    right: 0;
}

.timeWait {
    text-align: center;
}

.timeWait>p:first-child, .rowPeopleCapacity>div>p:first-child {
    color: #E84820;
}

.timeWait>p>span {
    font-size: 54px;
}

.rowPeopleCapacity, .rowMaskGel {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rowPeopleCapacity>* {
    text-align: center;
}
.rowPeopleCapacity>div>p:first-child {
    font-size: 38px;
}

.rowMaskGel {
    display: flex;
    margin: 1em;
}

.mask, .gel {
    text-align: center;
    font-size: 14px;
    width: 9em;
}

.maskImg, .gelImg {
    max-width: 3em;
}

.editBtn {
    margin: auto;
    width: fit-content;
    background-color: #E1A869;
    padding: 0.5em 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}

.editBtn:hover, .backBtn:hover {
    cursor: pointer;
}

.editCapacity, .editPeople, .editMask, .editGel {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.numberStoreEdit, .peopleStoreEdit {
    width: 3.5em;
    margin: 0.3em;
    text-align: center;
    background-color: transparent;
    border: 2px solid #E1A869;
    border-radius: 10px;
    font-size: 18px;
    height: 2em;
    color: #fff;
    font-weight: 700;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}